@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: rgb(255, 255, 255);
    --foreground: rgb(0, 0, 0);
    --highlight: rgb(100, 100, 100);
}

:root.dark {
    --background: rgb(0, 0, 0);
    --foreground: rgb(255, 255, 255);
    --highlight: rgb(100, 100, 100);
}

::selection {
    background-color: var(--highlight);
}

html {
    scroll-behavior: smooth;
}

html body {
    background-color: var(--background);
    color: var(--foreground);
}

.relative .center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}